.u-full-width {
    background-color: #AFBCFF;
    margin: 0 auto;
}

th {
    color: black;
    font-weight: 900;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}

th:hover {
    background-color: white;
    transition: .3s;
}

tr:hover {
    box-shadow: 1px 2px 2px black;
}

td:hover {
    background-color: black;
    cursor: pointer;
    transition: .3s;
    box-shadow: 1px 2px 2px black;
}

td {
    color: white;
    text-align: center;
    box-shadow: 1px 2px 2px black;
}